h1{
    color: blueviolet;
}
div{
    background-color: aqua;
    padding: 20px;
    width: 300px;
}
#numero1{
    padding: 10px;
    margin: 10px;
}
#numero2{
    padding: 10px;
    margin: 10px;
}
button{
    padding: 10px;
    border-radius: 15px;
}
#resultado{
    background-color: beige;
    border:black;
    border-radius: 15px;
    padding: 15px;
}